
h1{
    font-size: 4.5em;
    border: 10px solid;
    background-color: aqua;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.w{
    background-color: white;
    text-align: center;
    color: white;
    height: 75px;
    width: 75px;
}

.b{
    background-color: black;
    text-align: center;
    color: black;
    height: 75px;
    width: 75px;
}

p{
    visibility: hidden;
}

.b:hover{
    background-color:rgba(255, 0, 0, 0.5);
}

.w:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.b:hover p{
    visibility: visible;
}

.w:hover p{
    visibility: visible;
}

footer>table{
    border: 1px solid white;
    background-color: aqua;
}

.help{
    padding: 1em;
    visibility: visible;
}