body{
    border: solid 1px black;
}
.1{
    display: inline-block;
}

.2{
    display: inline-block;
}

.3{
    display: inline-block;
}

.b1{

}

.b2{

}

.b3{

}

.b4{

}

.b5{

}

.b6{

}

.b7{

}

.b8{

}

.b9{

}

.b10{

}

.b11{

}

.b12{

}

.b13{

}

.b14{

}

.b15{

}

.b16{
    
}

.b17{
    margin-bottom: 2em;
}


