*{
    background-color: black;
}


fieldset{
    border: 5px solid black;
    background-color: navy;
}
legend{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: gold;
}

ul{
    text-align: center;
}

.b1{
    color: silver;
    font-weight: bold;
    text-decoration: none;
}

.b1:hover{
    color: red;
}

.b2{
    color: silver;
    font-weight: bold;
    text-decoration: none;
}

.b2:hover{
    color: red;
}

.b3{
    color: silver;
    font-weight: bold;
    text-decoration: none;
}

.b3:hover{
    color:red;
}

#b1{
    background-color: aqua;
    display: block;
    text-align: center;
}

#b2{
    background-color: skyblue;
    display: block;
    text-align: center;
}

#b3{
    background-color: blue;
    display: block;
    text-align: center;
}